@font-face {
  font-family: "ARCO";
  font-weight: 300;
  src: url(/fonts/ARCO.ttf);
}
@font-face {
  font-family: "ARCO";
  font-weight: 400;
  src: url(/fonts/ARCO.ttf);
}
@font-face {
  font-family: "ARCO";
  font-weight: 500;
  src: url(/fonts/ARCO.ttf);
}
@font-face {
  font-family: "ARCO";
  font-weight: 700;
  src: url(/fonts/ARCO.ttf);
}
@font-face {
  font-family: "Fredoka";
  font-weight: 300;
  src: url(/fonts/Fredoka-Light.ttf);
}
@font-face {
  font-family: "Fredoka";
  font-weight: 400;
  src: url(/fonts/Fredoka-Regular.ttf);
}
@font-face {
  font-family: "Fredoka";
  font-weight: 500;
  src: url(/fonts/Fredoka-Medium.ttf);
}
@font-face {
  font-family: "Fredoka";
  font-weight: 600;
  src: url(/fonts/Fredoka-SemiBold.ttf);
}
@font-face {
  font-family: "Fredoka";
  font-weight: 700;
  src: url(/fonts/Fredoka-Bold.ttf);
}
